{% load static %}
<div class="d-flex justify-content-between gap-3">
    {% if user.is_authenticated %}
          <div class="border">
            <img
              src="{% static 'img/avatar.jpg' %}"
              width="50"
              height="50"
              alt="Avatar"
            />
          </div>
          <div class="d-flex flex-column justify-content-between">
            <div>{{ user.username }}</div>
            <div>
              <a href="{% url "settings" %}">settings </a>
              <a href="{% url "logout" request.path %}">log out</a>
            </div>
          </div>
        </div>
    {% else %}
         <div class="d-flex justify-content-between gap-3">
            <div class="d-flex flex-column justify-content-between">
              <div>
                <a href="{% url "login" %}?next={{ request.path }}">log in</a>
                <a href="{% url "signup" %}">register</a>
              </div>
            </div>
          </div>
    {% endif %}

