{% extends "layouts/base_card.html" %}
{% load static %}
{% block card_content %}
  <h5 class="card-title">
    <a href="{% url "question" question.question_id %}">{{ question.title }}</a>
  </h5>
  <p class="card-text">
      {{ question.text }}
  </p>
  <div class="row">
    <a class="col-4" href="{% url "question" question.question_id %}">answers ({{ question.n_answers }})</a>
    <div class="col-8">
      <span>Tags: </span>

        {% for tag in tags %}
      <a href="{% url "tag" tag.tag_id %}">{{ tag.title }}</a>
        {% endfor %}
    </div>
  </div>
{% endblock %}