{% extends "layouts/base.html" %}
{% load static %}

{% block main_header %}
    <div class="d-flex gap-3 align-items-center">
        <h1>Log In</h1>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <form>
            <div class="invalid-feedback">
                Sorry, wrong password!
            </div>
            <div class="row-fluid mt-4 mb-2">
                    <div class="form-group row">
                        <label for="inputTitle" class="col-sm-2 col-form-label">Login</label>
                        <div class="col-sm-10">
                        <input type="title" class="form-control border-dark rounded-0" id="inputTitle" placeholder="Enter yor login here">
                        </div>
                    </div>
            </div>
            <div class="row-fluid mt-1 mb-2">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control border-dark rounded-0" id="inputPassword" placeholder="**********">
                    </div>
                </div>
            </div>
            <div class="row-fluid mt-1 mb-2">
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="login" class="btn btn-light border-dark rounded-0">Log in!</button>
                        <div class="row-fluid mt-3">
                            <a href="{% url "signup" %}">create new account</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}