{% extends "layouts/base.html" %}
{% load static %}

{% block main_header %}
      <div class="d-flex gap-3 align-items-center">
        <h1>Tag: {{ tag.title }}</h1>
        <a href="{% url "main" %}">New Questions</a>
      </div>
{% endblock %}

{% block content %}
    {% for question in questions %}
        {% include 'layouts/question_card.html' with tags=question.tags rating=question.rating %}
    {% endfor %}

    {% block pagination %}
         {% include 'layouts/pagination.html' %}
    {% endblock %}

{% endblock %}
